@media screen and (max-width: 992px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 768px) {
    .encriptador, .descriptador {
        width: 38rem;
    }

    .textarea, .saida-bloco {
        width: 36rem;
        height: 30rem;
    }

    .box-btn {
        width: 36rem;
    }
}

@media screen and (max-width: 600px) {
    .projeto, .media {
        flex-direction: column;
    }
}

@media screen and (max-width: 362px) {
    html {
        font-size: 40%;
    }
}

@media print {
    .cabecalho {
        justify-content: center;
    }

    .logo,
    .nav,
    .ajuda {
        display: none;
    }
}